* {
    transition: all 600ms
}
body{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    background-color: bisque;
    margin: 10%;
}

.item{
    max-width: 500px;
    margin: 0.5rem auto;
}
.wrapper{
    cursor: pointer;
}
.wrapper:hover{
    color: black;
}
.title{
    color: black;
    font-size: 2em;
    display: block;
    cursor: pointer;
}
.input{
    appearance: none;
    position: absolute;
}
.image{
    display: none;
    
}
.input:checked + .image{
    display: block;
    
}
.input:hover + .image{
    display: block;
}
.inactive{
    color: blue;
}
.inactive:hover{
    color: black;
}
@media screen {
    
    
}